/* color: #2F303A
background: #F5F4FA;
background footer: #2F303A;
background heroi: #F5F5F5;
color logo: #2196F3 #000000
color text: #757575;
color h: #212121;*/
.logo
 {color: #2196F3;}
.site-nav
 {color: aqua;}

 .list {
    list-style: none;
 }

 .hero {
    background: #2F303A;
 }

 .hero-text {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-size: 44px;
        line-height: 60px;
        /* or 136% */
    
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
    
        color: #FFFFFF;
 }
 
.button-primery {
    color: #FFFFFF;
    background: #2196F3;
}
 .our-team {
        background: #F5F4FA;
 }

 .project-link {
    color: #212121;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
 }

 .footer {
        background: #2F303A;
 }