/* color: #2F303A
background: #F5F4FA;
background footer: #2F303A;
background heroi: #F5F5F5;
color logo: #2196F3 #000000
color text: #757575;
color h: #212121;*/
:root {
    --primary-text-color: #212121;
    --title-text-color: #757575;
    --accent-color: #2196F3;
    --white-text: #FFFFFF;
    --white-fog: rgba(255, 255, 255, 0.6);
    --button-background: #F5F4FA;
}

.logo
 {color: #2196F3;}


.site-nav
 {color: aqua;}


 .list {
    list-style: none;
 }

/* Кольори тексту var*/

.primary-link {
    color:var(--accent-color);
}


.primary-text {
    color:var(--primary-text-color);
}


.title-text {
    color:var(--title-text-color);
}

.white-text {
    color:var(--white-text);
}

.white-fog {
    color:var(--white-fog);
}

/* КНОПКИ*/

.button-secondary {
    color:var(--primary-text-color);
    background:var(--button-background)
}

.button-secondary:hover {
    color: #FFFFFF;
    background: #2196F3;
}

 .button-primery:hover {
     color: #FFFFFF;
     background: #2196F3;
 }

/*.site-nav.link.current {
    color: var(--accent-color);
}
*/




 .our-team {
        background: #F5F4FA;
 }

 .project-link {
    color: #212121;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
 }

 .footer {
        background: #2F303A;
 }